@charset "UTF-8";
/*.back img{
	position: absolute;
	width:751px;
	left:0; 
	right:0; 
	top:0; 
	bottom:0;
    margin:auto;
	background-repeat: no-repeat;
	z-index: 1;
}*/
.sumbackground{
	position: fixed;
	left: 0px;
	top: 0px;
	background:black;
	width:385px;
	height: 725px;
}
.back{
	position: fixed;
	left: 1135px;
	top:0px;
	width:385px;
	height: 725px;
	background:black;
}
.background{
	display: -webkit-flex;
    display: flex;
	background: white;
	position: absolute;
	width: 750px;
	height:720px;
	left: 385px;
	top:0px;
	z-index:0;
}
.top{
	background: white;
	width: 750px;
	height: 230px;
	margin:;
	z-index:1.3;
}
.top-img img{
	float: none;
	width:300px;
	height: 190px;
	margin: 30px 22px 10px 80px;/*上右下左*/
}
.bottom{
	top:228px;
	left: 385px;
    background: white;
    width: 750px;
    height: 240px;
    position: fixed;
}
.font{
    width: 300px;
    height: 30px;
    position: fixed;
    margin:35px 22px 10px 10px;
    letter-spacing: 2px;
}
.mid-line{
	width: 30px;
	height: 2px;
	background:rgb(1, 105, 178);
	position: fixed;
	font-family: "Times New Roman", Times, serif;
	top:65px;
    left: 795px;
}
.flex-one{
	position: fixed;
	width: 269px;
	height: 80px;
	top:88px;
	left: 795px;
	letter-spacing: 2px;
	word-break: break-all;
	font-size: 15px;
}
.rectangle{
	position: fixed;
	border-radius:4px;
	background:rgb(1, 105, 178);
	width: 118px;
	height: 25px;
	letter-spacing: 1px;
	left: 795px;
	top:185px;
}
.font-box{
	position: fixed;
	letter-spacing: 2px;
	top:189px;
	left: 808px;
	font-size: 12px;
	color:white;
}
.font-right{
	position: fixed;
	font-size: 14px;
	top:186px;
	left: 890px;
	color:white;
}
.font-add{
	letter-spacing: 1.5px;
	position: fixed;
	top:260px;
	left: 465px;
	font-size: 18px;
	font-weight: bold;
	color: rgb(1, 105, 178);
}
.font-area{
	position: fixed;
	top:263px;
	left: 520px;
	font-size: 15px;
	font-weight: bold;
	color: rgb(1, 105, 178);
}
.font-first{
	letter-spacing: 2px;
	position: fixed;
	font-size: 13px;
	top: 264px;
	left: 535px;
}
.rectangle-add{
    position: fixed;
	border-radius:4px;
	background:rgb(1, 105, 178);
	width: 87px;
	height: 21px;
	top: 264px;
	left: 975px;
}
.font-asid{
	color: white;
	position: fixed;
	top:267px;
	left: 998px;
	letter-spacing: 2px;
	font-size: 5px;
}
.font-aid{
	color: white;
	font-size: 14px;
	position: fixed;
	top:265px;
	left: 1050px;
}
.empty{
	height: 2px;
	width: 600px;
	position: fixed;
	top:300px;
	background: rgb(238, 238, 238);
	left: 465px;
}
.empty-add{
	background: rgb(244, 244, 244);
	height: 2px;
	width: 600px;
	position: fixed;
	left: 465px;
	top: 360px;
}
.empty-side{
	background: rgb(244, 244, 244);
	height: 2px;
	width: 600px;
	position: fixed;
	left: 465px;
	top:410px;
}
.empty-box{
	background: rgb(244, 244, 244);
	height: 2px;
	width: 600px;
	position: fixed;
	left: 465px;
	top:460px;
}
.font-atom{
	position: fixed;
	top: 325px;
	left: 465px;
	font-size: xx-small;
}
.rectangle-fix{
	position: fixed;
	border-radius:10px;
	background:rgb(1, 105, 178);
	width: 69px;
	height: 19px;
	top: 325px;
	left: 535px;
}
.font-at{
	position: fixed;
	top: 378px;
	left: 465px;
	font-size: xx-small;
}
.rectangle-tee{
	position: fixed;
	border-radius:10px;
	background:rgb(90, 174, 115);
	width: 69px;
	height: 19px;
	top: 378px;
	left: 535px;
}
.font-qte{
	position: fixed;
	top: 428px;
	left: 465px;
	font-size: xx-small;
}
.rectangle-sara{
	position: fixed;
	border-radius:10px;
	background:rgb(90, 174, 115);
	width: 69px;
	height: 19px;
	top: 428px;
	left: 535px;
}
.font-t1{
	color: white;
	position: fixed;
	top:326px;
	left: 560px;
	letter-spacing: 2px;
	font-size: 5px;
}
.font-dk{
	color: white;
	position: fixed;
	top:379px;
	left: 547px;
	letter-spacing: 2px;
	font-size: 5px;
}
.font-geng{
	color: white;
	position: fixed;
	top:429px;
	left: 547px;
	letter-spacing: 2px;
	font-size: 5px;
}
.font-ns{
	position: fixed;
	top:326px;
	left: 615px;
	letter-spacing: 2px;
	font-size: 5px;
}
.font-fpx{
	position: fixed;
	top:379px;
	left: 615px;
	letter-spacing: 2px;
	font-size: 5px;
}
.font-sn{
	position: fixed;
	top:429px;
	left: 615px;
	letter-spacing: 2px;
	font-size: 5px;
}
.empty-at{
	background:black;
	height: 1.5px;
	width: 243px;
	position: fixed;
	left: 615px;
	top:340px;
}
.empty-aj{
	height: 1px;
	background:black;
	width: 243px;
	position: fixed;
	left: 615px;
	top:393px;
}
.empty-ao{
	background:black;
	height:2px;
	width: 265px;
	position: fixed;
	left: 615px;
	top:443px;
}
.under{
	top:480px;
	left: 385px;
    background: rgb(244, 244, 244);
    width: 750px;
    height: 350px;
    position: fixed;
}
.font-edg{
	letter-spacing: 1.5px;
	position: fixed;
	top:480px;
	left: 420px;
	font-size: 25px;
	font-weight: bold;
	color: rgb(1, 105, 178);
}
.font-rng{
	letter-spacing: 1.5px;
	position: fixed;
	top:485px;
	left: 435px;
	font-size: 15px;
	font-weight: bold;
	color: rgb(1, 105, 178);
}
.font-lng{
	letter-spacing: 1.5px;
	position: fixed;
	top:480px;
	left: 790px;
	font-size: 25px;
	font-weight: bold;
	color: rgb(1, 105, 178);
}
.font-tes{
	letter-spacing: 1.5px;
	position: fixed;
	top:485px;
	left: 805px;
	font-size: 15px;
	font-weight: bold;
	color: rgb(1, 105, 178);
}
.bottom-left{
	background: white;
	border: 1px solid #BBB;
	position: fixed;
	top: 515px;
	left: 420px;
	width: 320px;
	height: 180px;
	z-index:0;
}
.bottom-right{
	background: white;
	border: 1px solid #BBB;
	position: fixed;
	top: 515px;
	left: 790px;
	width: 320px;
	height: 180px;
	z-index:0;
}
.font-jdg{
	letter-spacing: 1.5px;
	position: relative;
	top:10%;
	left: 35%;
	font-size: 15px;
	font-weight: bold;
	z-index: 1;
}
.font-tt{
	position: fixed;
	top:560px;
	left:500px;
	font-size: 25px;
	font-weight: bold;
	z-index: 1;
	color: rgb(1, 105, 178);
}
.font-omg{
	position: fixed;
	top:600px;
	left:510px;
	font-size: 10px;
	font-weight: bold;
	z-index: 1;
}
.font-lgd{
	position: fixed;
	top:615px;
	left:520px;
	font-size: 10px;
	font-weight: bold;
	z-index: 1;
}
.font-rw{
	position: fixed;
	letter-spacing: 1.5px;
	top:660px;
	left:510px;
	font-size: 10px;
	font-weight: bold;
	z-index: 1;
	color: rgb(1, 105, 178);
}
.empty-all{
	height: 1px;
	width: 255px;
	position: fixed;
	top:650px;
	background: rgb(238, 238, 238);
	left: 455px;
}
.rectangle-t1{
	position: fixed;
	border-radius:4px;
	background:rgb(1, 105, 178);
	width: 250px;
	height: 40px;
	letter-spacing: 1px;
	left:823px;
	top:560px;
}
.bg img{
	position: fixed;
	width:25px;
	height: 25px;
	top:565px;
	left:855px;
}
.font-v5{
	letter-spacing: 1.5px;
	color: white;
	position: fixed;
	top:568px;
	left:885px;
	font-size: 15px;
	z-index: 1;
}
.font-g2{
    position: fixed;
    font-size: 18px;
    top: 565px;
    left:1050px;
    color: white;
}
.font-drx{
	position: fixed;
	top:610px;
	left:864px;
	font-size: 10px;
	font-weight: bold;
	z-index: 1;
}
.font-ssw{
	position: fixed;
	top:625px;
	left:864px;
	font-size: 10px;
	font-weight: bold;
	z-index: 1;
}
.font-ssg{
	position: fixed;
	top:640px;
	left:882px;
	font-size: 10px;
	font-weight: bold;
	z-index: 1;
}
